.root-editor-container{
   
    height:100%;
    display:flex;
    flex-direction:column;
    color:white;
    .editor-header,.editor-footer{
        background-color:#1A1A1A;
        display:flex;
        justify-content:space-between;
        button,select{
            border:none;
            color:white;
            background-color: #313131;
            padding:10px 20px ;
            border-radius:5px; 
        }
        select:focus{
            outline:none;
        }
       button{
        color:#00BBA2;
        background-color: #2A3D3A;
        cursor:pointer;
        transition-duration:0.5s;
       }
       button:hover{
        background-color:#2A3D3A ;
       }
       .title{
        font-size:24px;
       }
    }
    .editor-footer{
        background-color:#1A1A1A;
        padding:10px;
        display:flex;
        justify-content: space-between;
        button,label{
            display:flex;
            align-items:center;
        }
        .btn{
            display:flex;
            align-items:center;
            padding:4px 10px;
            background-color: #3e3e3e;
            color: #c3c4c3;
            border:none;
            border-radius:4px;
            gap:10px;
            cursor:pointer;
            transition-duration:0.5s;
        }
        .btn:hover{
            background-color: #2a635a;
            transition-duration:0.5s;
        }
    }
    .editor-body{
        background-color:white;
        flex-grow:1;
    }
    .editor-left-container,.editor-right-container{
        display:flex;
        gap:10px;
        padding:10px;
        align-items:center;
        
    }
}